{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Add Asset</title>

        
    </head>
    <body>
        <h1>Add Asset</h1>

        
        
        <form action="" method="POST">
            {% csrf_token %}

            <p>{{form.errors}}</p>

            <table>
                <tr>
                    <th>{{ form.coin_name.label_tag }}</th>
                    <th>{{ form.coin_name }}</th>
                </tr>
                <tr>
                    <th>{{ form.amount.label_tag }}</th>
                    <th>{{ form.amount }}</th>
                </tr>
                <tr>
                    <th><label for="{{ form.time.id_for_label }}">time:</label></th>
                    <th><input type="date" name="time" ></th>
                </tr>

                <tr><th><input type="submit" value="Submit"></th></tr>

            </table>

        </form>


        
    </body>
</html>